/* general css  */
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    clear:both;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.float-item{
    float: left;
}
.clearfix{
    clear:both;
}
.container{
    width:80%;
    margin: auto;
}
/* start navbar */ 
.navbar{
    padding: 20px 0;
}
.logo{
    width :30%;
    padding-top: 8px;
   
}
.list{
    width: 50%;
    padding-top: 5px;;
}
.icons{
    padding-top: 10px;
}
.navbar .container .list .list-item{
    text-transform: capitalize;
    display :inline-block;
    padding-left: 15px;
}
.list .list-item a{
   color :#333;
}
.icons a{
    padding-right:15px;
   color :#384aeb;
}
.botton{
    color:#333;
    border: 1px #384aeb solid;
    padding: 10px 20px;
    border-radius:20px ;
}

/* end navbar */

/* start header */
.header-img{
    width: 40%;
}
.header-img img{
    width: 100%;
}
.header-content{
width:55%;
padding-top: 160px;
padding-left: 90px;
}
.header-content .shop-bio {
    font-size :25px;
    color:#333;
}
.title{
    padding: 18px 0 ;
}
.description{
line-height: 1.2;
color:#333;
margin-bottom: 20px;;
}
.header-content .botton{
     background-color: #384aeb;
     color: white;
     border: none;
     padding: 10px 30px ;
}

/* end header */

/* start main product */
.main-product{
    margin-top:100px ;
}
.main-product .container .float-item{
width: 32%;
padding-left: 10px;
}
.main-product .container img{
    width:100%;
}
/* end main product */
/* start trend-product*/
.trend-product{
    margin-top: 100px ;
}
.trend-product .bottom{
 border-bottom:2px solid #384aeb ;
}
.trend-product .products .float-item {
    width:25%;
    margin-bottom: 30px;
}
.trend-product .products{
    margin-top: 30px;
    text-align: center;

}
.products .price{
    color:#384aeb;
    font-weight: bold;
}


/* end trend-product*/













